@style
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: white;
}

/* Header/Blog Title */
.header {
  padding: 25px;
  text-align: center;
  background: white;
  height: 100px;
}
  
#fotopeq {
  display: block;
  position: absolute;
  float: left;
  top: 45px;

}

.header h1 {
  font-size: 40px;
  margin-bottom: 5px;
}

.header h3 {
  margin-top: 5px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: rgb(156, 4, 4);
  top: 30px;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}


/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
  margin-top: 5px;
  border-right: #f2f2f2 2px solid;
  border-top: #f2f2f2 3px solid;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 24%;
  background-color: white;
  padding: 2px;
}

/* Fake image */
.fakeimg {
  background-color: whitesmoke;
  width: 100%;
  padding: 8px;
  border-bottom: 1px solid;
  border-color: darkslategray;
  }

.edm {
  display: block;
  position: relative;
  top: -215px;
  margin: 10px;
  margin-left: 180px;
  padding: 5px;
  height: 172px;
}

.mundo {
  display: block;
  position: relative;
  top: -30px;
  padding: 5px;
  margin-left: 190px;
}

img#mundoestat {
  position: relative;
  top: -240px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 15px;
  height: 35px;
  text-align: center;
  background-color: rgb(156, 4, 4);
  color: #ddd; 
  margin-top: 10px;
}

.footer a {
  color: #ddd;
  text-decoration: none;
}

.footer a:hover {
  color: cyan;
  text-decoration: underline;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}